tmp/
bin/
.CFUserTextEncoding
.Trash/
.bash_history
.config/
.cups/
.dropbox/
.fontconfig/
.keepassx/
.lesshst
.mono/
.recently-used
.ssh/
.viminfo
.vim/.netrwhist
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
src/
.NERDTreeBookmarks
.cgdb/
.tgdb/
Applications/
.android/
.filezilla/
.pearrc
.Xauthority
.cache
.irb_history
.neocon
.putty
.serverauth.8416
Google Drive
.vimbackup/*
.vimswap/*
.vimundo/*
.vimviews/*
.gem/
.serverauth.67556
.zprofile
.zshrc
