[user]
	name = Daniel Motles
	email = seltom.dan@gmail.com
[color]
	status = auto
	branch = auto
	diff = auto
	interactive = true
[core]
	excludesfile = /Users/dmotles/.gitignore_global
	editor = vim
	whitespace = trailing-space,space-before-tab
[merge]
	tool = vimdiff
