tmp/
bin/
.CFUserTextEncoding
.Trash/
.bash_history
.config/
.cups/
.dropbox/
.fontconfig/
.keepassx/
.lesshst
.mono/
.recently-used
.ssh/
.viminfo
.vim/.netrwhist
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
src/
.NERDTreeBookmarks
.cgdb/
.tgdb/
Applications/
.android/
.filezilla/
.pearrc


#pitt stuff to ignore

.ICEauthority
.Xauthority
.bin/
.cache/
.cshrc
.dbus/
.dmrc
.elinks/
.emacs.d/
.esd_auth
.forward.pop
.gconf/
.gconfd/
.gnome2/
.gtk-bookmarks
.imsettings.log
.kde/
.keystore
.local/
.login
.logout
.mozilla/
.pine-debug1
.pinerc
.preferences
.profile
.pulse-cookie
.pulse/
.recently-used.xbel
.rhn-applet.conf
.rhn-applet/
.sqlplus_history
.swp
.thumbnails/
.vim/README.csupport
.vim/doc/
.vim/ftplugin/
.vim/l.zip
.vim/plugin/
.vim/syntax/c.vim
.wireshark/
.xsession-errors
.xsession-errors-:0
Backup
bin
docs/
include/
lib/
old/
private/
public/
share/

