[user]
	name = Daniel Motles
	email = seltom.dan@gmail.com
[color]
	status = auto
	branch = auto
	diff = auto
	interactive = true
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	whitespace = trailing-space,space-before-tab
	pager = less -X -F
[merge]
	tool = vimdiff
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = matching
[alias]
	st = status -s
	co = checkout
	br = branch
[credential]
	helper =
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
